@using Microsoft.JSInterop
@namespace MyBlog.Web.App.Components
  <div class="footer" >
    <div class="footer_container">
        <div class="footer_col1">
            <a href="/" style="color:white">Home</a>
            <div class="about_me">
                <h3>About me</h3>
                <p style="margin-top:10px;"> Hi, I'm Bong, I'm currently a student at the Ho Chi Minh City University of Technology.
                    I love cat, coding and coding.</p>
                <img style="width:250px;height:250px;border-radius:5px;  object-fit: fill;" src="/img/298561441_463780225371243_4582749990831619084_n (1).jpg" />
                <p style="margin-top:8px"> Hobbies: Cat, Anime, Reading book and Blog</p>
                <p style="margin-top:5px">This blog  simply notes the knowledge that I have learned and experienced :) </p>
                <p style="display:flex; gap:10px; margin-top:10px;">
                    <img style="width:25px;height:25px; cursor:pointer" src="/html/github.png" />
                    <img style="width:25px;height:25px; cursor:pointer" src="/html/3536505.png" />
                    <img style="width:25px;height:25px; cursor:pointer" src="/html/gmail.png" />


                </p>
            </div>
        </div>
        <div class="footer_col2">
            <h3>Hello!</h3>
            <img style="margin-top:40px;border-radius:5px;width:400px;height:300px" src="/img/ezgif.com-gif-maker (1).gif" />
        </div>
    </div>
  </div>

