@using Microsoft.JSInterop
@namespace MyBlog.Web.App.Components

  <div class="footer" >
    <div class="footer_container">
        <div class="footer_col1">
            <a href="/" style="color:white">Home</a>
            <div class="about_me">
                <h3>About me</h3>
                <p style="margin-top:10px;"> Hi, I'm Bong, I'm currently a student at the Ho Chi Minh City University of Technology. I love cat,coding and coding.</p>

                <p style="margin-top:8px"> Interests: Cat, Anime, Reading book and Blog</p>
                <p style="margin-top:5px">This blog  simply notes the knowledge that I have learned and experienced, relieves sadness :) </p>
                <p style="display:flex; gap:10px; margin-top:10px">
                    <img style="width:25px;height:25px; cursor:pointer" src="/html/github.png" />
                    <img style="width:25px;height:25px; cursor:pointer" src="/html/3536505.png" />
                    <img style="width:25px;height:25px; cursor:pointer" src="/html/gmail.png" />


                </p>
            </div>
        </div>
        <div class="footer_col2">
            <h3>TAGS</h3>
            <TagComponent></TagComponent>
        </div>
    </div>
  </div>

